.container {
    align-items: center;
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0 8%;
    justify-content: flex-start;
}
.top {
    padding: 10px 0;
}
.content {
    color: $white;
    padding: 5% 0 0;
}