//Brand Colors

$black                      :           #000000;
$soft-yellow                :           #e9d257;
$orange                     :           #e9a100;
$white                      :           #ffffff;